<br />
<h3>Czeœæ @ViewBag.Name.</h3>
<br />
S³ysza³em, ¿e zapomnia³eœ has³a... Wielka szkoda, jednak nie smuæ siê!
<br/>
<p>
Uda³o mi siê zresetowaæ.
Oto nowe has³o: <b> @ViewBag.Password </b>
</p>
<br/>
Ps. Pamiêtaj, ¿eby je zmieniæ i nie zapomnieæ nowego ;)

<br/>
<br/>
P.K.