body{
    margin: 0.5em 1em
}

.message {
    color: #737373;
    font-family: "Segoe UI Light";
    font-size: 24px;
    margin: 0px 0 15px;
    height: 25px;
    line-height: 25px;
}

    .message .notify {
        color: #5F9A26;
    }
div.navBar{
    height:50px; 
    background-color: #BAAEA1;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

div.navBar div#titleDiv{
    float:left;
    margin-top: -15px;
    margin-left: 20px;
}

div.navBar div#adminActions{
    float:right;
    line-height: 50px;
    padding-right: 20px;
}

div.navBar div#adminActions a{
    margin-right: 10px;
}

div.menu {
    width: 15%;
    margin-left: 2%;
    float: left;
    background-color: #BAAEA1;
    padding: 0.5em 1em;
    margin-top: -20px;
    min-height: 400px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

div.menu p{
    font-size: 20px; 
}

div.content {
    width: 75%;
    float: left;
    padding: 0.5em 1em;
    margin-top: -20px;
}

div#breadCrumbs{
    font-size: 20px;
    padding-bottom: 30px;
}
