@font-face { font-family: "Segoe UI"; src: local("Segoe UI"), url(/Content/Fonts/segoeui.ttf); }
@font-face { font-family: "Segoe UI Semibold"; src: local("Segoe UI Semibold"), url(/Content/Fonts/seguisb.ttf); }
@font-face { font-family: "Segoe UI Light"; src: local("Segoe UI Light"), url(/Content/Fonts/segoeuil.ttf); }

* {
	margin: 0px;
	padding: 0px;
}

.clear
{
	clear: both;
}

.left { float: left }

.right { float: right }

.hidden { display: none; }

a {
	color: #2086BF;
	text-decoration: none;
}

body {
	color: #323232;
	font-family: "Segoe UI",Verdana,Helvetica,Sans-Serif;
	font-size: 12px;
	/*background-color: #EEE;*/
	background: url(/Content/Images/Admin/bg.png) fixed; 
	background-repeat: repeat;
	line-height: 21px;
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;
	-webkit-text-stroke: 1px transparent;
}

.page {
	background: url("/Content/Images/Admin/bg-page.png") repeat-y; 
	box-shadow: 0 0 85px rgba(0, 0, 0, 0.3);
	margin-left: auto;
	margin-right: auto;
	width: 1160px;
	overflow: hidden;
	z-index: 9;
}

.page-header {
	background-color: #3C454F;
	height: 30px;
	position: fixed;
	top: 0px;
	width: 1160px;
	overflow: hidden;
	z-index: 10;
}

.page-footer {
	background-color: #3C454F;
	height: 60px;
	position: fixed;
	bottom: 0px;
	width: 1160px;
	overflow: hidden;
	color: #fff;
	z-index: 10;
}

.page-footer .info
{
	text-align: right;
	padding-right: 20px;
	padding-top: 10px;
	line-height: 17px;
	text-transform: uppercase;
}

.page-footer .info a
{
	background: url('/Content/Images/Admin/ico-next-white.png') center right no-repeat;
	padding-right: 18px;
	color: #fff;
}

.page-footer .info a:hover
{
	color: #fff;
}

.page-footer .buttons
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 59px;
	width: 258px;
	padding-left: 451px;
}

.page-footer .buttons a
{
	padding-bottom: 5px;
	float: left;
	display: block;
	width: 86px;
	height: 14px;
	font-size: 9px;
	padding-top: 40px;
	color: #fff;
	text-align: center;
}

.page-footer .buttons a:hover
{
	background-color: #505861;
	text-decoration: none;
}

.help
{
	background: url("/Content/Images/Admin/ico-help.png") no-repeat scroll 31px 10px transparent;    
}

.addBug
{
	background: url("/Content/Images/Admin/ico-bug.png") no-repeat scroll 31px 10px transparent;    
}

.recommendUs
{
	background: url("/Content/Images/Admin/ico-sale.png") no-repeat scroll 31px 10px transparent;    
}

.clear {
	clear: both;
}

.c1 {
	float:left;
	width: 200px;
	display: block;
}

.c2 {
	display: block;
	float: left;
	width: 900px;
	padding: 30px;
	padding-top: 50px;
	padding-bottom: 90px;
	background-color: #fff;
}

.page-header .sessionLeftTimer {
  background: url('/Content/Images/Admin/ico-hourglass.png') center left no-repeat;
  color:white;
  float:left;
  font-family:'Segoe UI Light';
  font-size:16px;
  line-height:30px;
  padding-left:24px;
  margin-left: 50px;
  cursor: help;
}

	.page-header .sessionLeftTimer span.label {
		font-size: 13px;
	}

.page-header .user {
	float: right;
	line-height: 30px;
	color: white;
	padding-right: 62px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.page-header .user .icon {
	background: url('/Content/Images/Admin/ico-user.png') no-repeat;
	width: 54px; 
	height: 30px;
	top: 0px;
	right: 0px;
	position: absolute;
}

.page-header .userContextMenu {
	position: fixed;
	top: 30px;
	left: 0px;
	width: 250px;
	padding: 20px;
	background-color: #3C454F;
}

	.page-header .userContextMenu a {
		display: block;
		margin-bottom: 10px;
		color: #fff;
		font-size: 14px;
	}

		.page-header .userContextMenu a:hover {
			text-decoration: underline;
		}

		.page-header .userContextMenu div {
			padding-top: 5px;
		margin-bottom: 10px;
		border-bottom: 1px solid #909295;
	}

.page-header .title {
	float: left;
	line-height: 30px;
	color: white;
	padding-left: 10px;
	font-size: 16px;
	font-family: "Segoe UI Light";
}


a.action
{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	opacity: 0.7;
	width: 48px; 
	padding-top: 52px;
	font-family: "Segoe UI Light";
	font-size: 12px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
	margin-left: 20px;
	float: right;
	text-transform: uppercase;
}

a.action:hover
{
	opacity: 1;
	text-decoration: none;
}

a.add
{
	background: url(/Content/images/Admin/ico-add.png) top right no-repeat; 
	color: #2086BF;
}

a.download
{
	background: url(/Content/images/Admin/ico-download.png) top right no-repeat; 
	color: #2086BF;
}


.menu {
	margin-top: 60px;
	margin-bottom: 90px;
}

.menu .category
{
	padding-left: 20px;
	font-size: 13px;
	text-transform: uppercase;
	background-color: #4B4F4D;
	color: #fff;
	height: 25px;
	line-height: 25px;
}

.menu a {
	display: block;
	height: 41px;
	color: #2086BF;
	overflow: hidden;
	padding-left: 40px;
	text-transform: uppercase;
	line-height: 15px;
	padding-top: 10px;
	position: relative;
	text-decoration: none;
	font: bold 11px/11px "Segoe UI",Verdana,Helvetica,Sans-Serif;
}

.menu a div.shadow {
	top: 0px;
	left: -100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	position: absolute;
	background-color: #888F8B;
	opacity: 0.5;
	width: 100%;
	height: 100%;
}

.menu a:hover div.shadow
{
	left: 0px;
}

.menu a.active:hover div.shadow
{
	left: -100%;
}

.menu a:hover
{
	color: #000;
	letter-spacing: 1px;
}

	.menu a div.icon {
		width: 32px; height: 32px;
		position: absolute;
		top: 5px;
		left: 0px;
	}

	.menu a.logout div.icon {
		background: url('/Content/Images/Admin/ico-logout.png') no-repeat;
	}
	.menu a.home  div.icon {
		background: url('/Content/Images/Admin/ico-home.png') no-repeat;
	}
	.menu a.cms  div.icon {
		background: url('/Content/Images/Admin/ico-cms.png') no-repeat;
	}
	.menu a.newslist  div.icon {
		background: url('/Content/Images/Admin/ico-newslist.png') no-repeat;
	}
	
	.menu a.about div.icon{
		background: url('/Content/Images/Admin/ico-about.png') no-repeat;
	}

	.menu a.contact div.icon{
		background: url('/Content/Images/Admin/ico-contact.png') no-repeat;
	}

	.menu a.partnership div.icon{
		background: url('/Content/Images/Admin/ico-partnership.png') no-repeat;
	}

.menu a.active
{
	background-color: #fff;
	color: #000;
}

.menu a.active span
{
	color: #000;
}

.menu a.active:hover
{
	background-color: #fff;
	color: #000;
	letter-spacing: 0px;
}

.menu .menuItem {
	position:relative;
}

.menu .menuItem span.alert {
	position: absolute;
	top: 10px;
	right: -8px;
	width: 29px;
	height: 38px;
	background: url('/Content/Images/Admin/ico-menu-alert.png') top left no-repeat;
	color: #ffffff;
	line-height: 30px;
	text-align: center;
	font-size: 19px;
	z-index: 11;
	cursor: help;
}

.menu a span
{
	padding-top: 5px;
	display: block;
	font-size: 9px;
	color: #fff;
	font-weight: normal;
}

.pageInfo
{
	margin-bottom: 30px;
}

.pageInfo .pageTitle {
	color: #444444;
	display: inline-block;
	font: 28px/40px "Segoe UI Light";
	font: 28px;
	margin: 0;
	position: relative;
	text-transform: lowercase;
	display: block;
	height: 20px;
	line-height: 20px;
}

.formHeader
{
	border-bottom: 2px solid #888F8B;
	height: 30px;
}

.formHeader h2
{
	font-size: 20px;
	text-transform: lowercase;
	font-family: "Segoe UI Light",Verdana,Helvetica,Sans-Serif;
	font-weight: normal;
	position: relative;
	float: left;
}

.formHeader img.help {
	float: right;
	display:block;
	width: 16px;
	height: 16px;
	padding-top: 7px;
	cursor: help;
}

.formRow
{
	border-bottom: 1px solid #D8D8D8;
	margin-top: 22px;
	overflow: hidden;
	padding-bottom: 22px;
	position: relative;
}

.formRow label.header
{
	display: block;
	float: left;
	font-family: "Segoe UI Semibold";
	font-size: 11px;
	padding-top: 10px;
	text-transform: uppercase;
	width: 110px;
}

.formRow .content
{
	float: left;
	display: block;
	width: 700px;
}

.formRow .content .propHeader
{
	text-transform: uppercase;
	font-size: 11px;
	padding-top: 10px;
	opacity: 0.5;
}


.formRow .content div.text {
	background-color: #F3F3F3;
	padding: 5px;
	margin-bottom: 1px;
}

.formRow .content input[type=text], .formRow .content input[type=password], .formRow .content select
{
	padding: 4px;
	margin-bottom: 1px;
	width: 250px;
}

	.formRow .content label.ui-state-active {
		border: 2px solid #3C454F !important;
		background: #4F9DD7 !important;
	}

	.formRow .content label.ui-state-default {
		border: 2px solid #CCCCCC;
		background: #fff;
	}

	.formRow .content label.ui-state-default:hover {
		background-color: #dddddd;
		color: #3C454F;
	}

.formRow .content textarea
{
	width: 400px;
	height: 200px;
}

.center {
	text-align: center;
}

.submit
{
	background-color: #4F9DD7;
	border: 2px solid #434343;
	color: #FFFFFF;
	cursor: pointer;
	line-height: 20px;
	min-width: 46px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
}

.cancel
{
	text-transform: uppercase;
	text-align: center;
}

/*model validation class*/
.field-validation-error {
	color: #fff;
	padding: 2px;
	padding-left: 15px;
	padding-right: 6px;
	text-transform: uppercase;
	background: #E00500 url('/Content/Images/Admin/ico-requiredArrow.png') top left no-repeat;
	font-size: 11px;
}

.required
{
	color: #fff;
	padding: 2px;
	padding-left: 15px;
	padding-right: 6px;
	text-transform: uppercase;
	background: #E00500 url('/Content/Images/Admin/ico-requiredArrow.png') top left no-repeat;
	font-size: 11px;
}

a img {
	border: 0px none;
}

a.back {
	display: block;
	width: 24px;
	height: 24px;
	background: url('/Content/Images/Admin/ico-back.png') center center no-repeat;
	float: left;
	margin-right: 10px;
	opacity: 0.5;
	-moz-transition: opacity 0.2s ease-in-out 0s;
	-webkit-transition: opacity 0.2s ease-in-out 0s;
}

a.back:hover {
	opacity: 1;
}

.forUiHintIco {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	background: url('/Content/Images/Admin/ico-description.png') center center no-repeat;
	opacity: 0.5;
	-moz-transition: opacity 0.2s ease-in-out 0s;
	-webkit-transition: opacity 0.2s ease-in-out 0s;
}

.message {
	color: #5F9A26;
	font-family: "Segoe UI Light";
	font-size: 24px;
	margin: 0px 0 15px;
	/*display: none;*/
	height: 25px;
	line-height: 25px;
    padding-top: 10px;
}

.message .ok {
	color: #5F9A26;
}

.message .error {
	color: #E01B1B;
}

a.link {
	background: url('/Content/Images/Admin/ico-next.png') center right no-repeat;
	opacity: 0.5;
	padding-right: 30px;
	-moz-transition: opacity 0.2s ease-in-out 0s;
	-webkit-transition: opacity 0.2s ease-in-out 0s;
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
}

a.link_active {
	background: url('/Content/Images/Admin/ico-next.png') center right no-repeat;
	opacity: 1;
	padding-right: 30px;
	-moz-transition: opacity 0.2s ease-in-out 0s;
	-webkit-transition: opacity 0.2s ease-in-out 0s;
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
}

a.link:hover {
	opacity: 1;
}

/* loading animation */

.loading {
	top: 10px;
}

	.loading span {
		margin-top: -20px;
		display: block;
		font-size: 11px;
		text-transform: uppercase;
		text-align: center;
		color: rgba(0,183,229,1.0);
	}

.loading .ball {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 45px #2187e7;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spin 1s infinite linear;
	-webkit-animation:spin 1s infinite linear;
}
.loading .ball1 {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2187e7; 
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoff 1.1s infinite linear;
	-webkit-animation:spinoff 1.1s infinite linear; 
}
@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}

.breadcrumbs {
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 11px;
}

h2.header 
{
	margin: 10px 0 15px;
	color: #737373;
	font-family: "Segoe UI Light";
	font-size: 28px;
}

.messageBubble
{
	position: absolute;
}

.messageBubbleOk
{
	background-color: #5F9A26;
	color: #FFFFFF;
	font-family: "Segoe UI Semibold";
	font-size: 12px;
	height: 21px;
	line-height: 21px;
	padding: 0 8px;
	text-transform: uppercase;
}

.messageBubbleOkArrow
{
	border-color: transparent transparent transparent #5F9A26;
	border-style: solid;
	border-width: 4px;
	position: relative;
	top: -4px;
}

.messageBubbleError
{
	background-color: #E01B1B;
	color: #FFFFFF;
	font-family: "Segoe UI Semibold";
	font-size: 12px;
	height: 21px;
	line-height: 21px;
	padding: 0 8px;
	text-transform: uppercase;
}

.messageBubbleErrorArrow
{
	border-color: transparent transparent transparent #E01B1B;
	border-style: solid;
	border-width: 4px;
	position: relative;
	top: -4px;
}

.messageBubbleInfo
{
	background-color: #737373;
	color: #ffffff;
	font-family: "Segoe UI Semibold";
	font-size: 12px;
	height: 21px;
	line-height: 21px;
	padding: 0 8px;
	text-transform: uppercase;
}

.messageBubbleInfoArrow
{
	border-color: transparent transparent transparent #737373;
	border-style: solid;
	border-width: 4px;
	position: relative;
	top: -4px;
}

a.pageTitleAction {
	width:32px; 
	padding-top: 32px;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	color: #000;
	text-decoration: none;
	 opacity: 0.5;
	-moz-transition: opacity 0.2s ease-in-out 0s;
	-webkit-transition: opacity 0.2s ease-in-out 0s;
}

a.pageTitleAction:hover {
	opacity: 1;
}

a.addWithText
{
	background: url('/Content/Images/Admin/ico-add.png') no-repeat;  
}

#sortable
{
	list-style-type: none;
	margin-left: 50px;
}
	
#sortable li {
	margin-bottom: 1px;
	padding: 3px;
	background: #dfdfdf;
	cursor: move;
	display: block;	
	text-transform: uppercase;
	color: #000000;
	text-align: right;
	border-left: 10px solid #71B1D1;
}

#sortable li:hover {
	background: #71B1D1;
	color: #ffffff;
}

.wizard {
	margin-bottom: 20px;
}

.wizard .step {
	float: right;
	width: 85px;
	text-align: center;
}

.wizard .active a.number {
	color: #71B1D1 !important;
}

.wizard .active .title {
	background-color: #71B1D1 !important;
	color: #ffffff !important;
}

.wizard .step:hover a.number {
	color: #71B1D1;
}

.wizard .step:hover .title {
	color: #ffffff;
	background-color: #71B1D1;
}

.wizard .step:active:hover a.number {
	color: #ffffff;
	background-color: #71B1D1;
}


.wizard .step a.number {
	font-size: 32px;
	color: #dfdfdf;
	padding: 5px;
	text-decoration: none;
}

.wizard .step .title {
	color: #ffffff;
	background-color: #dfdfdf;
	font-size: 11px;
	height: 16px;
	line-height: 16px;
}

.wizard .percentage {
	text-align: right;
	color: #71B1D1;
	padding-top: 1px;
}

.note
{
	margin-bottom: 10px;
	width: 66%;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	background-color: #FDFCBC;
}

.note .header
{
	background-color: #F8F7B6;
	position: relative;
	height: 27px;
	line-height: 27px;
	padding-left: 10px;
}

.note .header a.remove
{
	background:url('/Content/Images/Admin/ico-noteRemove.png') no-repeat; 
	width:15px; 
	height:17px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.note .content
{
	min-height: 48px;
	padding: 10px;
	padding-right: 15px;
}

.tasks-list .today {
	border-bottom: 2px solid #71B1D1;
	color: #71B1D1;
	text-transform: uppercase;
	width: 300px;
	height: 21px;
	line-height: 21px;
	font-size: 15px;
	text-align: right;
	padding-right: 10px;
	margin-bottom: 20px;
}

.tasks-list .item {
	margin-bottom: 1px;
	height: 20px;
}

.tasks-list .item .priority {
	float: left;
	height: 20px;
	width: 60px;
	line-height: 20px;
	text-align: right;
	padding-right: 5px;
	background-color: #ffffff;
	display: block;
	text-transform: uppercase;
	color: #ffffff;
}

.tasks-list .item .content {
	float: left;
	margin-left: 10px;
	width: 600px;
	height: 20px;
	line-height: 20px;
}

.tasks-list .item .content a {
	text-decoration: underline;
}

table.matrix
{
	background-color: transparent;
	border: 0 none;
	border-collapse: separate;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
	font-family: "Segoe UI";
}

table.matrix thead tr th
{
	border-bottom: 3px solid #535353;
	font-size: 13px;
	font-weight: lighter;
	line-height: 20px;
	width: 100%;
	text-align: center;
	color: #7F7F7F;
	font-size: 11px;
	font-weight: normal;
	padding: 9px 0;
	text-transform: uppercase;
}

table.matrix tbody tr td
{
	border-bottom: 1px solid #434343;  
	color: #434343;
	font-size: 12px;
	font-weight: lighter;
	line-height: 20px;
	padding: 5px;
	padding-left: 10px;
	text-align: center;
}

table.matrix tbody tr:nth-child(even) td
{
	background-color: #F1F1F1;
}

	table.matrix tbody tr td b {
		font-weight: bold;
		letter-spacing: 1px;
	}

	table.matrix tr td img {
		padding-top: 5px;
	}

	table.matrix tr td.intensityLevel1 {
		background-color: #FFF9E4;
	}

	table.matrix tr td.intensityLevel2 {
		background-color: #FFF4C4;
	}

	table.matrix tr td.intensityLevel3 {
		background-color: #F9ECA8;
	}

	table.matrix tr td.intensityLevel4 {
		background-color: #FFE487;
	}

	table.matrix tr td.intensityLevel5 {
		background-color: #FFC63D;
	}

div.tag {
	float: left;
	display: block;
	width: 150px;
}
div.tags a {
	background-color: #ffffff;
	border: 1px solid #71B1D1;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 2px;
	color: #71B1D1;
	display: block;
	float: left;
	
	width: 17px;
	height: 17px;
	margin-right: 3px;
	margin-bottom: 3px;
}

	div.tags a:first-child {
		width: 50px;
	}

div.tags a:hover {
	background-color: #71B1D1;
	color: #ffffff;
	width: 19px;
	height: 19px;
	border: none;
}

div.tags a:first-child:hover {
		width: 48px;
	}

	div.tags a.disabled {
		background-color: #323232;
		color: #F3F3F3;
		border: none;
		width: 19px;
	height: 19px;
	}

	div.tags a.disabled:hover {
		background-color: #323232;
		color: #F3F3F3;
		border: 0px none #ffffff;
		cursor: default;
	}

a.disabled {
	color: #323232;
	text-decoration: none;
}

a.disabled:hover {
	text-decoration: underline;
}

	.pageVisitBar
{
	height: 10px;
	background-color: #7C4B75;
}

	div.tableFilters {
	padding: 20px;
	border: 1px solid #ccc;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.helpCursor {
	cursor: help;
}

div.c2-c1 {
	float: left;
	width: 680px;
}

div.c2-c2 {
	/*float: left;*/
	position: fixed;
	margin-left: 700px;
	width: 200px;
	color: #444444;
	font-size: 12px;
	line-height: 16px;
}

div.c2-c2 h2.c2-c2-header {
	font-size: 20px;
	letter-spacing: -0.5px;
	text-transform: lowercase;
	font-family: "Segoe UI Light";
	font-weight: normal;
	margin-bottom: 40px;
}

div.c2-c1 .formRow .content {
	width: 250px;
}

.forUiHintIco {
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	background: url('/Content/Images/Admin/ico-help2.png') center center no-repeat;
	opacity: 0.5;
	-moz-transition: opacity 0.2s ease-in-out 0s;
	-webkit-transition: opacity 0.2s ease-in-out 0s;
}

.imgThumb {
	width: 300px;
}

.submitLink {
margin-bottom:5px; 
background: transparent;
 text-decoration: none; 
 border:none; 
 cursor: pointer;
 color: #2086BF;
}

	.submitLink:hover {
		text-decoration:underline;
		color:white;
	}

.delete:hover {
	text-decoration:underline;
}

div .content .contentLabel{
	width: 400px;
	float: left;
}

.customDataTableColumn{
	word-wrap: break-word;
	max-width: 100px;
}

span.imageInfo {
    position: absolute;
    left: 0px;
    width: 100px;
    top: 40px;
    text-align: center;
    background-color: #C5CFC9;
}

    span.imageInfo span.triangle {
        bottom: 40px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid #C5CFC9;
    }