<center>
    <a href="">O MNIE</a> &nbsp;
    <a href="">KONTAKT</a> &nbsp;
    <a href="">WSPÓŁPRACA</a> &nbsp;
    <a href="">PARTNERZY OC</a>
    @Html.ActionLink("Logowanie", "Login", "Home")
</center>
