<div id="topMenu">
    @Html.ActionLink("O MNIE", "About", "Home") &nbsp;
    @Html.ActionLink("KONTAKT", "Contact", "Home") &nbsp;
    @Html.ActionLink("WSPÓŁPRACA","Partnership","Home") &nbsp;
    @Html.ActionLink("LOGOWANIE", "Login", "Home")
</div>
