<div class="errorSite">
    <div class="errorContent">
        <span class="errorNumber">Błąd 500</span>
        <br />
        <br />
        <span>
           Wystąpił problem z serwerem, za chwilę zostaniesz przeniesiony na stronę startową serwisu
        </span>
    </div>
    <div style="float:left">
        <img src="/Content/images/Public/error.png" />
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            setTimeout(function () { window.location = "/"; }, 5000);
        });
    </script>
}