body {
    background-image: url(images/Public/background.png);
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

div.logo {
    margin-top: 50px;
    background-image: url(images/Public/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
}

div.bar {
    background-image: url(images/Public/menubar.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 36px;
    margin-left: 0px;
    margin-top: 40px;
    margin-right: 0px;
    font-family: georgia;
    font-size: 30px;
    padding: 30px 0px;
    color: #fff;
}

    div.bar a {
        color: #ddd;
        text-decoration: none;
    }

    div.bar div#topMenu{
        width:65%;
        margin-left: 20%;
        margin-right: 15%;
        text-align: center;
    }

div.content {
    background-image: url(images/Public/bgcontent.png);
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-top: 0px;
    margin-right: 20%;
    padding-bottom: 50px;
    margin-bottom: 50px;
    min-height: 1000px;
    font-family: georgia;
    font-size: 18px;
    padding: 30px;
    color: #000;
    border: solid 1px #ddd;
}

div.footer {
    background-image: url(images/Public/footer.png);
    width: 100%;
    height: 100px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    font-family: georgia;
    bottom: 50px;
    position:relative;
    font-size: 20px;
    padding: 30px 0px;
    color: #fff;
}

div.footer div{
    padding: 0px 25px;
    width:60%;
    margin-left: 20%;
    margin-right: 15%;
}
    div.footer a {
        color: #ddd;
        text-decoration: none;
        font-style: italic;
    }

div.imgContent{
    float:left;
    min-width: 300px;
}

div.imgContent img{
    cursor: pointer;
}

img.unactive {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
}

div.aboutContent{
    margin-left:300px;
}

div.newsContent {
    margin: 0 auto;
    border-bottom: 1px solid #000;
}

div#paging{
    display: inline;
}

span.labelSpan{
    min-width: 100px;
    font-weight: 900;
}

div.breadcrumbs{
    margin: 0.5em 0em 1em 0em;
}

/*body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}*/
