<div class="page-footer">
    <div class="info">
        @*<a href="http://webstruments.pl" target="_blank">webstruments.pl</a><br />*@
        Realizacja Paweł Klima
        <br/>
        Szata graficzna Ela Wojtyło
    </div>
</div>