<div class="page-header">
    <div class="title">
        PrzemysławPiechota.pl
    </div>
    <div class="user">
        ADMIN   
        <div class="icon"></div>
    </div>
    <div class="userContextMenu hidden">
        @Html.ActionLink("Zmień hasło", "ChangePassword", "Admin")
        @Html.ActionLink("Zmień Email", "ChangeEmail", "Admin")
        @Html.ActionLink("Wyloguj", "Logout", "Home")
    </div>
</div>
