<p>
    @Html.ActionLink("Do strony publicznej", "Index", "Home")
</p>
<p>
    @Html.ActionLink("Aktualności", "NewsList", "Admin")
</p>
<p>
    Partnerzy OC
    @*@Html.ActionLink("Partnerzy OC", "Partnership", "Admin")*@
</p>
<p>
    O mnie
</p>
<p>
    Kontakt
    @*@Html.ActionLink("Kontakt", "Contact", "Admin")*@
</p>
<p>
    Współpraca
    @*@Html.ActionLink("Współpraca", "Cooperation", "Admin")*@
</p>

